.cabecera{
    background-color: $colortxtsg;
    position: relative;
    z-index: 2;
    .berserk{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            font-family: 'Castoro Titling', cursive;
            font-family: 'Inconsolata', monospace;
            color: $colortxtpr;
            align-items: center;
            text-decoration: none;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: $colortxtftr;
                transition: width 0.5s ease-in-out, left 0.3s ease-in-out;
                transform: translateX(0%);
            }
            &:hover::before{
                width: 90%;
            }
        }
    }
    nav{
        ul{
            text-align: center;
            padding: 1rem;
            
            li{
                list-style: none;
                display: inline-block;
                padding: 1rem;

                .links_nav{
                    text-decoration: none;
                    color: $colortxtpr;
                    position: relative;
                    display: inline-block;
                    font-family: 'Castoro Titling', cursive;
                    font-family: 'Inconsolata', monospace;

                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: $colortxtftr;
                        transition: width 0.5s ease-in-out, left 0.3s ease-in-out;
                        transform: translateX(0%);
                    }

                    &:hover::before{
                        width: 100%;
                    }
                }
            }
        }
    }
}