main{
    position: relative;
    z-index: 1;
    .contenedor_padre{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .inicio{
            background-color: rgba(35, 35, 33, 0.819);

            form{
                background-color: #ffffffa1;
                margin: auto;
                width: 90%;
                max-width: 600px;
                padding: 4.5em 3em;
                border-radius: 10px;
                text-align: center;

                .title_form{
                    color: rgba(35, 35, 33, 0.819);
                    font-size: 2rem;
                    margin-bottom: .5em;
                }
                .container_form{
                    margin-top: 3em;
                    display: grid;
                    gap: 2.5em;
                }
                .container_input{
                    position: relative;

                }
                .form_input{
                    width: 100%;
                    font-size: 1rem;
                    padding: .6em .3em;
                    border: none;
                    outline: none;
                    
                    &:focus + .form_label, &:not(:placeholder-shown) + .form_label{
                        transform: translateY(-12px) scale(.7);
                        transform-origin: left top;
                    }
                }
                .form_label{
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 5px;
                    transform: translateY(10px);
                    transition: transform .5s, color .3s;
                }
                
            }
            
            h3{
                color: #ffffff;
                text-align: center;
            }
            p{
                color: rgb(205, 205, 205);
                font-family: 'Castoro Titling', cursive;
                font-family: 'Inconsolata', monospace;
                padding: 1rem;
            }
            .episodios{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 2rem;
            }
            h2{    
                color: rgb(255, 255, 255);
                text-align: center;
                margin: 2rem;
            }
            .lista-episodios{
                li{
                border: 1.5px solid rgba(255, 255, 255, 0.575);
                justify-content: center;
                list-style: none;
                padding: 1rem;
                a{
                    font-family: 'Castoro Titling', cursive;
                    font-family: 'Inconsolata', monospace;
                    color: rgb(255, 255,255);
                    text-decoration: none;
                    position: relative;

                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: #ffffff;
                        transition: width 0.5s ease-in-out, left 0.3s ease-in-out;
                        transform: translateX(100%);
                    }
                    &:hover::before{
                        width: 50%;
                    }
                }
                }
                .nom-personaje{
                    color: rgb(255, 255, 255);
                    text-align: center;
                    padding-left: 0.5rem;
                }
               
            }
        }
        .background_video{
            width: 50%;
            
            video{
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100%;
                background-color: rgb(0, 0, 0);
                object-fit: cover;
                z-index: -1;
            }
        }
        
    }
}