main{
    position: relative;
    z-index: 1;
    .contenedor_padre{
        display: flex;
        flex-direction: column;
        .inicio{
            background-color: $colorbg;
            
            .item_container{
                .item_tienda{
                    background-color: $colortxtpr;
                    border-radius: 10px;
                    width: 300px;
                    figure{
                        img{
                        width: 100%;
                        height: 350px;
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                        }
                    }
                    div{
                        h4{
                            font-family: 'Inconsolata', monospace;
                            font-family: 'Castoro Titling', cursive;
                            font-weight: 900;
                            font-size: 20px;
                        }
                        p{
                            color: $colortxtsg;
                            font-family: 'Inconsolata', monospace;
                            font-family: 'Castoro Titling', cursive;
                            font-size: 14px;
                            font-weight: 900;
                        }
                        button{
                            font-family: 'Inconsolata', monospace;
                            font-family: 'Castoro Titling', cursive;
                            border: none;
                            background-color: $colortxtsg;
                            color: $colortxtpr;
                            padding: 15px 10px;
                            cursor: pointer;
                        }
                    }
    
                    &:hover{
                        box-shadow: 0 10px 20px $coloranima;
                        
                        figure{
                            overflow: hidden;
                            img{
                                border-radius: 10px 10px 0 0;
                                transform: scale(1.095);
                                transition: all .5s;
                            }
                        }
                    }
                    .info_producto{
                        padding: 15px 30px;
                        line-height: 2;
                        display: flex;
                        flex-direction: column;
                        gap: 10px
                    }
                }
            }
            form{
                background-color: $colorform;
                margin: auto;
                width: 90%;
                max-width: 600px;
                padding: 4.5em 3em;
                border-radius: 10px;
                text-align: center;

                .title_form{
                    color: $colorbg;
                    font-size: 2rem;
                    margin-bottom: .5em;
                }
                .container_form{
                    margin-top: 3em;
                    display: grid;
                    gap: 2.5em;
                }
                .container_input{
                    position: relative;

                }
                .form_input{
                    width: 100%;
                    font-size: 1rem;
                    padding: .6em .3em;
                    border: none;
                    outline: none;
                    background: none; 
                    border-bottom: 2px solid $colorbg;
                    
                    &:focus + .form_label, &:not(:placeholder-shown) + .form_label{
                        transform: translateY(-12px) scale(.7);
                        transform-origin: left top;
                    }
                }
                .form_label{
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 5px;
                    transform: translateY(10px);
                    transition: transform .5s, color .3s;
                }
                .submit_form{
                    background-color: $colorbg;
                    color: $colortxtpr;
                    border: none;
                    padding: 1em;
                }
                
            }
            .separador{ 
                background-color: $colorbgseg;
                p{
                    color: $colorprf;
                    font-family: 'Castoro Titling', cursive;
                    font-family: 'Inconsolata', monospace;
                    padding: 1rem;
                    text-align: justify;
                    width: 100%;
                }
            }
            p{
                color: $colorprf;
                font-family: 'Castoro Titling', cursive;
                font-family: 'Inconsolata', monospace;
                padding: 1rem;
                text-align: justify;
                width: 100%;

            }
            h3{
                color: $colortxtpr;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
            }
            .episodios{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 2rem;
            }
            h2{    
                color: $colortxtpr;
                text-align: center;
                margin: 2rem;
                font-weight: 700;
            }
            .lista-episodios{
                li{
                border: 1.5px solid $coloranima;
                justify-content: center;
                list-style: none;
                padding: 1rem;
                a{
                    font-family: 'Castoro Titling', cursive;
                    font-family: 'Inconsolata', monospace;
                    color: $colortxtpr;
                    text-decoration: none;
                    position: relative;

                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: $colortxtpr;
                        transition: width 0.5s ease-in-out, left 0.3s ease-in-out;
                        transform: translateX(100%);
                    }
                    &:hover::before{
                        width: 50%;
                    }
                }
                }
                .nom-personaje{
                    color: $colortxtpr;
                    text-align: center;
                    padding-left: 0.5rem;
                }
               
            }
        }
        .background_video{
            width: 50%;
            
            video{
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100%;
                background-color: $colortxtsg;
                object-fit: cover;
                z-index: -1;
            }
        }
        
    }
}