

@media (min-width:360px){
    .contenedor_padre{
        display: flex;
        flex-direction: column;
        align-items: center;
        .inicio{
            width: 98%;

            .item_container{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            p{
                font-size: 13px;
                text-align: justify;
            }
            h3{
                font-size: 18px;
            }
            .separador{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .img_personajes{
                    width: 150px;      
                }
            }
        }
    }
    .berserk{
        a{
            font-family: 'Castoro Titling', cursive;
            font-family: 'Inconsolata', monospace;
            color: rgb(255, 255,255);
            align-items: center;
            font-size: 60px;
            text-decoration: none;
            position: relative;
            padding: 1.5rem;
                    
            &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    background-color: #6e6f6f;
                    transition: width 0.5s ease-in-out, left 0.3s ease-in-out;
                    transform: translateX(0%);
                    }
            &:hover::before{
                    width: 100%;
                    }
        }
                
      nav{
            li{
            display: flex;
            flex-direction: column;
            align-items: end;
           }
        }
    }
    iframe{
        width: 360px;
        height: 315px;
    }
    footer{
        div{
            h4{
                font-size: 13px;
            }
        }
        .links_footer{
                h6{
                    font-size: 9px;
                }  
        }
    }
    .lista-episodios{
        div{
            li{
                a{
                    font-size: 13px;
                }
            }
        }
    }
    .dropdown-item{
        color: #ffffff;
        text-align: end;
    }
}

        
@media (min-width: 767px){

    iframe{
        width: 380px;
        height: 315px;
    }
    .berserk{
        a{
            font-size: 80px;
        }
    }
    .contenedor_padre{
        .inicio{
            width: 93%;
            p{
                font-size: 15px;
                text-align: justify;
            }
            h3{
                font-size: 20px;
            }
            .separador{
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .img_personajes{
                    width: 200px;      
                }
            }
            .item_container{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
            }
        }
    }
    footer{
        div{
            h4{
                font-size: 20px;
            }
        }
        .links_footer{
            h6{
                font-size: 14px;
            }
        }
    }
}
@media (min-width: 1024px){

    iframe{
        width: 560px;
        height: 315px;
    }
    .berserk{
        a{
            font-size: 100px;
        }
    }
    .contenedor_padre{ 
        .inicio{
            width: 90%;
            .separador{
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .img_personajes{
                    width: 250px;      
                }
            }
            .item_container{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
            }
        }
    }

    footer{
        div{
            h4{
                font-size: 30px;
            }
        }

        .links_footer{
            h6{
                font-size: 17px;
            }
        }
    }
}