//Variable Colores//

$colorbg: #232321d1;
$colortxtpr: #ffffff;
$colortxtsg: #000000;
$colorform: #ffffffa1;
$colorbgseg: #0000006c;
$colorprf: #cdcdcd;
$coloranima: #ffffff93;
$colortxtftr: #6a6a6a;